@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: #e3e3e3 ;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: linear-gradient(180deg,black,#1b1b1b, grey,#1b1b1b, black);
    padding:  30px 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrapper .sidebar .sidebar_pic{
    width: 100px;
    border-radius: 100%;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 0;
    margin-bottom: 30px;
    box-shadow:0px 0px 30px 15px rgb(103, 103, 103);
}

.wrapper .sidebar h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(193, 193, 193, 0);
    border-top: 1px solid rgba(193, 193, 193, 0.323);
}

.wrapper .sidebar ul li a{
    color: white;
    letter-spacing: 1px;
    display: flex;
    font-size: 18px;
}

.wrapper .sidebar ul li a .fas, .wrapper .sidebar ul li a .fa-solid{
    display: relative;
    font-size: 22px;
    margin-right: 15px;
}

.wrapper .sidebar ul li:hover{
    background: linear-gradient(-90deg,white,grey,#1b1b1b,black);
    font-weight: 900;
}
.active{ 
    background: linear-gradient(-90deg,white,grey,#1b1b1b,black);

}
.wrapper .sidebar ul li a.active2{
    color: white;
    font-weight: 900;

}

.wrapper .sidebar ul li:hover a{
    color: white;
}

/* .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 50px;
}

.wrapper .sidebar .social_media a{
    display: relative;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: grey;
    color: white;
    text-align: center;
    margin: 0 5px;
    border-radius: 50%;
}

.wrapper .sidebar .social_media a:hover{
    color: black;
} */

.wrapper .main_content{
    width: 100%;
    margin-left: 250px;
}

.wrapper .main_content .header{
    padding: 15px;
    background: white;
    text-align: center;
    color: black;
    border-bottom: 5px solid #e0e4e8;
}

.wrapper .main_content .footer{
    padding: 20px;
    height: 80px;
    background:white;
    text-align: center;
    color: black;
}
.wrapper .main_content .footer .social_media a{
    letter-spacing: 20px;
    margin-top: 10px;
    color: black;
    border-radius: 100%;
    font-size: 20px;
}

.wrapper .main_content .header_2{
    padding: 20px;
    margin: 10px 10px 120px 10px;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .main_content .profile_design{
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 75px 10px;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .main_content .profile_design img{
    width: 100px;
    border-radius: 100%;
}
.wrapper .main_content .info{
    margin: 30px;
    color: black;
    line-height: 25px;
}

.wrapper .main_content .main_content_img{
    width: 300px;
    border-radius: 100%;
    box-shadow: 15px 0px 100px black;
    margin-bottom: 30px;
}

.wrapper .main_content .info div{
    margin-bottom: 20px;
}

.end_info{
    font-size: 25px;
}

.page_info{
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 50px 10px;
    font-size: 30px;
    border-radius: 100px;
    width: max-content;
    background: white;
    text-align: center;
    color: white;
    background: linear-gradient(45deg, black, grey);
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper .main_content .enter_email{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 30px 5px;
    font-size: 25px;
    width: 75%;
    background: white;
    text-align: center;
    color: black;
    border: 10px solid #1b1b1b95;
    border-top: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-bottom: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper .main_content .enter_message{
    padding: 10px 10px 10px 10px;
    margin: 5px 10px 30px 10px;
    font-size: 25px;
    height: 250px;
    width: 100%;
    background: white;
    text-align: center;
    color: black;
    border: 10px solid #1b1b1b95;
    border-top: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-bottom: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper .main_content .send_button{
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5spx;
    font-size: 25px;
    height: max-content;
    text-transform: uppercase;
    width: max-content;
    background: rgba(128, 128, 128, 0);
    text-align: center;
    color: black;
    border-top: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-bottom: 10px solid #1b1b1b;
    border-left:10px solid #1b1b1b95;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .main_content .send_button:hover{
    background: rgb(128, 128, 128);
    border-bottom: 10px solid #1b1b1b95;
    border-left: 10px solid #1b1b1b;
    border-top: 10px solid #1b1b1b;
    border-right:10px solid #1b1b1b95;
}



.home{
    background: linear-gradient(45deg, black, grey);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-bottom: 25px;
    padding: 25px;
    font-size: 35px;
    border-radius:45px;
}

.home:hover{
    background: linear-gradient(45deg, grey, black);
}

.home a{
    color: white;
    letter-spacing: 1px;
}

.wrapper .main_content .artwork_design{
    padding: 20px 20px 20px 30px;
    margin: 10px 10px 100px 10px;
    letter-spacing: 1px;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .main_content .artwork_design img{
    width: 400px;
}

.artwork_design_paint1{
    padding: 20px 20px 20px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; 
    width: max-content;
    height: max-content;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artwork_design_paint2{
    padding: 20px 20px 20px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; 
    width: max-content;
    height: max-content;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-right: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.sidebar::-webkit-scrollbar{
    width: 10px;
}

.sidebar::-webkit-scrollbar-track{
    background:#1b1b1b;
}
  
.sidebar::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, black,rgb(173, 173, 173));
}

.sidebar::-webkit-scrollbar-thumb:hover{
    background:grey;
}

  
::selection{
    color: white;
    background:grey;
  }

.content_h1{
    font-size: 45px;
    text-transform: uppercase;
    text-align: left;
}
.content_hr{
    background:black;
    height: 1px;
}
.content_p{
    font-size: 25px;
}