@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background: #e3e3e3 ;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    padding:  30px 0;
    overflow-y:scroll;
    overflow-x: hidden;
    background: linear-gradient(180deg,black,#1b1b1b, grey,#1b1b1b, black);
    
}
.wrapper .sidebar .sidebar_pic{
    width: 100px;
    cursor:pointer;
    border-radius: 100%;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 0;
    margin-bottom: 30px;
    box-shadow:0px 0px 30px 15px rgb(103, 103, 103);
}
.wrapper .sidebar .sidebar_pic:hover{
    transition: 1s;
    box-shadow:0px 0px 30px 20px rgb(255, 255, 255);
}
.wrapper .sidebar h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    letter-spacing: 2px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(193, 193, 193, 0);
    border-top: 1px solid rgba(193, 193, 193, 0.323);
}
.wrapper .sidebar ul li a{
    color: white;
    letter-spacing: 1px;
    display: flex;
    font-size: 18px;
}
.wrapper .sidebar ul li a .fas, .wrapper .sidebar ul li a .fa-solid{
    display: relative;
    font-size: 22px;
    margin-right: 15px;
}
.wrapper .sidebar ul li:hover{
    background: linear-gradient(-90deg,white,grey,#1b1b1b,black);
    font-weight: 900;
}
.active{ 
    background: linear-gradient(-90deg,white,grey,#1b1b1b,black);
}
.wrapper .sidebar ul li:hover a{
    color: white;
}
.wrapper .main_content{
    width: 100%;
    margin-left: 250px;
}
.wrapper .main_content .header{
    padding: 15px;
    background: white;
    text-align: center;
    color: black;
    border-bottom: 5px solid #e0e4e8;
}
.wrapper .main_content .footer{
    padding: 20px;
    height: 80px;
    background:white;
    text-align: center;
    color: black;
}
.wrapper .main_content .footer .social_media a{
    letter-spacing: 20px;
    margin-top: 10px;
    color: black;
    border-radius: 100%;
    font-size: 20px;
}
.wrapper .main_content .header_2{
    padding: 20px;
    margin: 10px 40px 120px 40px;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .main_content .profile_design{
    padding: 20px 20px 20px 20px;
    width: 85%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .main_content .profile_design img{
    width: 100px;
    border-radius: 100%;
}
.wrapper .main_content .info{
    margin: 30px;
    color: black;
    line-height: 25px;
}
.wrapper .main_content .main_content_img{
    width: 300px;
    border-radius: 100%;
    box-shadow: 15px 0px 100px black;
    margin-bottom: 30px;
}
.wrapper .main_content .info div{
    margin-bottom: 20px;
}
.end_info{
    font-size: 25px;
}
.page_info{
    padding:40px;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right:auto;
    font-size: 55px;
    border-radius: 100px;
    width: 70%;
    background: white;
    text-align: center;
    color: white;
    background: linear-gradient(45deg, black, grey);
}
.page_info:hover{
    transition:0.45s all ease-in-out;
    box-shadow: 0px 0px 100px 25px rgba(0, 0, 0, 0.959);
}
.wrapper .main_content .enter_email{
    border-radius:35px ;
    padding: 5px 5px 5px 5px;
    margin: 25px 5px 30px 5px;
    font-size: 25px;
    width: 75%;
    background: white;
    text-align: center;
    color: black;
    border: 10px solid #1b1b1b95;
    border-bottom: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-top: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgb(0, 0, 0);
}
.wrapper .main_content .enter_message{
    border-radius: 35px;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    height: 200px;
    width: 95%;
    background: white;
    text-align: center;
    color: black;
    border: 10px solid #1b1b1b95;
    border-bottom: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-top: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgb(0, 0, 0);
}
.wrapper .main_content .enter_email{
    border-radius:100px ;
    padding: 2px 2px 2px 2px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 90%;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b95;
    border-bottom: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-top: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgb(0, 0, 0);
}
.wrapper .main_content .enter_name{
    border-radius:35px ;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 49%;
    background: white;
    text-align: center;
    color: black;
    border: 10px solid #1b1b1b95;
    border-bottom: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-top: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgb(0, 0, 0);
}
.contact_p{
    font-size: 25px;
}
.wrapper .main_content .send_button{
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 50px 5px;
    font-size: 25px;
    height: max-content;
    text-transform: uppercase;
    width: 20%;
    background: rgba(128, 128, 128, 0);
    text-align: center;
    color: black;
    border-top: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-bottom: 10px solid #1b1b1b;
    border-left:10px solid #1b1b1b95;
    border-radius: 30px;
}
.wrapper .main_content .send_button:hover{
    transition: 0.5s;
    border-bottom: 10px solid #1b1b1b95;
    border-top: 10px solid #1b1b1b;
    border-right: 10px solid #1b1b1b;
    border-left:10px solid #1b1b1b95;
    box-shadow: 0 15px 23px 0 rgb(0, 0, 0);
    font-weight: 900;
}
.home{
    background: linear-gradient(45deg, black, grey);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-bottom: 25px;
    padding: 25px;
    font-size: 35px;
    border-radius:45px;
}
.home:hover{
    background: linear-gradient(45deg, grey, black);
}
.home a{
    color: white;
    letter-spacing: 1px;
}
.wrapper .main_content .artwork_design{
    padding: 20px 20px 20px 30px;
    margin: 10px 10px 100px 10px;
    letter-spacing: 1px;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .main_content .artwork_design img{
    width: 400px;
}
.artwork_design_paint1{
    padding: 20px 20px 20px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; 
    width: max-content;
    height: max-content;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.artwork_design_paint2{
    padding: 20px 20px 20px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; 
    width: max-content;
    height: max-content;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-right: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar::-webkit-scrollbar{
    width: 10px;
}
.sidebar::-webkit-scrollbar-track{
    background:black;
}
.sidebar::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.sidebar::-webkit-scrollbar-thumb:hover{
    background: #929292;
}
::selection{
    color: white;
    background:grey;
  }
  .content_h1{
      font-size: 35px;
      text-transform: uppercase;
      text-align: left;
    }
    .content_hr{
        background:black;
        height: 5px;
    }
    .content_p{
        font-size: 22px;
        text-align: left;
    }
    .content_img_right{
        width: 250px;
        float: right;
    }
    .content_img_right2{
        width: 250px;
        height: 450px;
        float: right;
    }
    .content_img_left{
        width: 250px;
        float: left;
    }
    .content_img_left2{
        width: 250px;
        float: left;
        margin-top: 20px;
        margin-right: 25px;
    }
    .content_equation{
        width: 100%;
    }
    .content_george_simon_ohm{
        float: left;
        height: 350px;
        width: auto;
        margin-right: 10px;
    }
    .grey_body{
        background-color: rgba(150, 150, 150, 0.271);
        margin-bottom:50px;
        margin-top:25px;
        border-right: 35px solid #1b1b1b;
        border-left: 8px solid #1b1b1b ;
        text-align: left;
        height: max-content;
        padding: 25px;
    }
    .grey_body:hover{
        background-color: rgba(255, 255, 255, 0.593);
        transition: 0.5s ease;
        box-shadow: 0px 0px 100px 1px black;
    }
    .grey_body h1{
        text-align: left;
        text-transform: uppercase;
    }
    .grey_body p{
        font-size: 22px;
        word-spacing: 4px;
    }
    .grey_table{
        height: 350px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .grey_table{
        background-color: rgba(132, 132, 132, 0.471);
        margin-bottom:30px;
        margin-top:30px;
        border-right: 35px solid #1b1b1b;
        border-left: 8px solid #1b1b1b ;
        text-align: left;
        height: max-content;
        padding: 20px;
    }
    .grey_table:hover{
        background-color: rgb(255, 255, 255);
        transition: 0.5s;
        box-shadow: 0px 0px 1000px 50px black;
    }
    .grey_table{
        font-size: 20px;
    }
    .grey_table h1{
        margin-bottom: 10px;
    }
    .table_grey, th{
        width: 100%;
        padding: 8px;
        background: white;
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        border-top: 8px solid black;
        border-bottom: 8px solid black;
        border-right: 8px solid grey;
        border-left: 8px solid grey;
        border-radius: 25px;
    }
    .table_grey, td{
        font-size: 20px;
        padding: 2px;
        background: white;
        text-align: center;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        border-right: 5px solid grey;
        border-left: 5px solid grey;
        border-radius: 25px;
    }
    .main_elements td{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
        background: linear-gradient(90deg, rgb(197, 194, 194), rgb(78, 78, 78),rgb(197, 194, 194));
        color: white;
        font-weight:900;
    }
    .main_ele td{
        letter-spacing: 2px;
        font-weight: 900;
        padding: 15px;
        font-size: 30px;
        background: white;
        text-align: center;
        text-transform: uppercase;
        border: 8px solid black;
        border-radius: 25px;
    }
    .table_grey:hover{
        transition: 0.5s;
        background:rgba(132, 132, 132, 0.471);;
    }
